body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #004365;
}

#titre_accueil{
    position: relative;
    color: white;
    margin-bottom: -90px;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

#fond_accueil{
    width: 100%;
}

#logo_accueil{
    width: 100%;
    background: white;
}


.li_haut{
    width: 100%;
}

.li_haut ul{
    display: flex;
    height: 70px;
    margin-top: 10px;
    list-style-type: none;
    background: #ff572e;
    font-size: 1.5em;
    text-transform: uppercase;
    
}

.li_haut li{
    line-height: 70px;
    margin-left: 90px;
}

.li_haut a{
    text-decoration: none;
    color: white;
}

.li_haut a:hover{
    text-decoration: underline;
    color: white;
}


/*Page 2 */

.conteneur_header{
    background: black;
    height: 120px;
    margin-bottom: -10px;
}

.titre_header{
    background: black;
    color: white;
    font-size: 2.5em;
    line-height: 72px;
    margin: 5px;
}


.sous_titre_header{
    background: black;
    color: white;
    font-size: 1.2em;
    margin: 5px;
}


.fildar{
    margin: 40px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}


.conteneur1{
    display: flex;
    background: white;
}

.conteneur1 img{
    width: 50%;
}

.conteneur2_3{
    flex-direction: row;
    margin-left: 20px;
}

.span{
    background: #e0e0e0;
    border: 3px solid #e0e0e0;
    height: 150px;
    margin: 45px;
    margin-right: -78px;
}


.conteneur2{
    display: flex;
}

.conteneur2 p{
    margin-left: 120px;
    border: 10px solid #e0e0e0;
    border-bottom: 10px solid white;
    color: #ff572e;
    width:160px;
    height:160px;
    font-size: 2em;
    border-radius: 75%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 75px;
}


.conteneur3{
    display: flex;
    flex-direction: column;
}


.conteneur3 p{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(77, 77, 77);
}


#sortie{
    font-size: 1em;
    color: gray;
    line-height: 46px;
}


.conteneur4{
    display: flex;
    flex-direction: row;
}

.conteneur4 p, input{
    margin-left: 20px;
}

.conteneur4 input{
    margin-top: 23px;
    height: 30px;
    border-radius: 5px;
    background:  #ff572e;
    color: white;
    text-transform: uppercase;
    border: 2px solid gray;
}

.conteneur4 #prix{
    margin-left: 220px;
    color:  #ff572e;
}
/**/




#preview{
    background: #ff572e;
    width: 10%;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
    line-height: 31px;
    border: 0.5px solid white;
    color: white;
}

#preview a{
    text-decoration: none;
    color: white;
}



/* page connexion */

.connexion{
    display: inline-block;
    background: white;
    height: 100px;
    width: 50%;
    margin-left: 25px;
    padding-left: 55px;
    line-height: 20px;
    border-radius: 10px;
    border: 2px solid  #ff572e;
}

.connexion #submit{
    background: #ff572e;
    color: white;
    border-radius: 10px;
    border: none;
}

.connexion #input{
    
}



/**/